[Unit]
Description=Raspberry Fan Control

[Service]
ExecStart=python /home/pi/rpi-noctua-fan-control/rpi_noctua_fan_control.py
WorkingDirectory=/home/pi/rpi-noctua-fan-control/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
